.card-box {
display: flex;
flex-direction: column;
background: #FFFFFF;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.20);
font-family: Helvetica;
color: #2E2E2E;
text-align: center;
line-height: 24px;

&__image {
height: 163px;
width: 163px;
background-color: aqua;
}

&__title {
  font-size: 16px;
  font-weight: bold;
}
&__price {

}
}