.footer {
  display: flex;
  width: 100vw;
  height: 241px;
  padding-top: 3rem;
  background-color: #ffffff;
  z-index: 0;

  &__inner {
    &__title {
      padding-bottom: 1rem;
      font-weight: 600;
    }

    &__list {
      padding: 0;
    }

    &__list__item {
      list-style: none;
    }
  }
}